h3 {
    color: #0020ff;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}
ul.tab a:hover{
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid #f1f1f1;
    background-color: #b8b8b8;

}